.GameList {
  padding: 0rem 5rem;
  h2 {
    padding: 4rem 0rem;
  }
}

.Games {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}


$buttons-height: 1.5rem;
$sticky-width: 3.3rem;
$padding: 0.5rem;

.sticky-container {
  background-color: transparent;
  padding-top: $padding;
  padding-left: $padding;
  padding-bottom: $padding;
  padding-right: $padding;
	position: fixed;
	top: 50%;
	right: 0rem;
	width: 0rem;
	height: auto;
	z-index: 9999;
	margin-top: -$buttons-height;
  text-align: center;
  margin-right: 2rem;
  
  &:hover {
    width: $sticky-width;
  }
  
	a {
		padding:0 !important;
		display: block;
		text-align: left;
		height: $buttons-height;
		width: $sticky-width;
		padding: 0.5rem 1rem;
		color: #ff7676;
		font-family: Arial, sans-serif;
		font-size: 1rem;
		font-weight: bold;
		text-decoration: none;
    
    img {
      width: 5rem;
      height: 4rem;
    }
	}
}