.GameList {
  padding: 0rem 5rem;
  h2 {
    padding: 5rem 0rem;
  }
}

.Games {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}
